@import "tailwindcss";

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}

.ProseMirror {
  min-height: 350px;
  outline: none;
}

.ProseMirror p {
  margin: 0.75rem 0;
}

.ProseMirror h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
}

.ProseMirror ul {
  list-style: disc;
  padding-left: 1.5rem;
}

.ProseMirror ol {
  list-style: decimal;
  padding-left: 1.5rem;
}

.tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  color: #9ca3af;
  pointer-events: none;
  float: left;
  height: 0;
}
